@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lexend, sans-serif;
}

.prName {
  margin-bottom: 10px;
}

.ui {
  position: absolute;
  right: 50px;
}

body {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#home {
  color: rgb(219, 88, 88);
}

navbar {
  height: 100vh;
}

.myprojects h2 {
  margin-left: 1rem;
}

.addp {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

#add {
  background-color: #dd9494;
  border-radius: 10px;
  color: white;
}

#projectName {
  border-bottom: 2px solid black;
}

.btn {
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  margin: 10px 0;
}

.dark {
  background-color: #1c1b22;
  color: rgb(219, 88, 88);
  border-radius: 0;
}

.darkBtn {
  background-color: #1c1b22;
  color: white;
  border-bottom: 2px solid rgb(219, 88, 88);
  border-radius: 0;
}

.darkBtn2 {
  border: 2px solid rgb(219, 88, 88);
  background: #1c1b22;
  color: rgb(219, 88, 88);
}

.btn:hover {
  border-radius: 10px;
  background-color: rgba(240, 214, 196, 0.466);
}

.active {
  border-radius: 10px;
  background-color: rgba(240, 214, 196, 0.466);
  color: rgb(219, 88, 88);
}

.add {
  color: rgb(219, 88, 88);
}

.addTsk {
  color: rgb(219, 88, 88);
}

#content {
  padding: 5rem;
}

button {
  border: none;
}

.info {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.todo {
  padding: 1rem;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  width: 100%;
}

.todo #dueDate {
  border: 1px solid black;
}

.todo hr {
  margin: 10px -1rem;
}

#btn {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
}

input {
  border: none;
}

.btns {
  display: flex;
  justify-content: flex-end;
}

#delProject {
  border-radius: 10px;
  background-color: rgb(219, 88, 88);
  color: white;
}

.btn2 {
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}

.btn2:hover {
  border-radius: 10px;
  background-color: rgba(240, 214, 196, 0.466);
}

.below {
  display: flex;
  justify-content: space-between;
}

#projectsSel {
  padding: 0 10px;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.card:first-child {
  border-top: 1px solid black;
}

.card {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.box {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #dd9494;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.done {
  text-decoration: line-through;
}

.modal {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 600px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.modal * {
  padding: 1rem;
}

.modal h1:first-of-type {
  background-color: rgb(219, 88, 88);
  color: white;
  display: flex;
  justify-content: space-between;
}

.darkModal {
  border: 3px solid rgb(219, 88, 88);
  background-color: #1c1b22;
}

.details {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.projectBtn {
  width: 100%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1rem;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 3fr; */
    /* grid-template-rows: repeat(auto-fit, minmax(150px, 1fr)); */
  }

  .ui {
    position: static;
    padding: 1rem;
    margin-left: 0;
  }

  navbar {
    height: 40vh;
  }

  #content {
    padding: 1rem;
  }
  .projectEl {
    height: 20vh;
    overflow: auto;
  }

  .projectBtns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
